<footer class="bg-black py-12 text-white border-t text-center">
  <div class="container mx-auto px-4">
    <h2 class="text-lg font-semibold m-0">Get The Swift Basket App</h2>
    <p class=" text-sm mt-1">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <!-- inputs design -->
    <div class="flex items-center gap-3 whitespace-nowrap mt-4">
      <input
        type="text"
        placeholder="Email"
        class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
      />
      <button class="bg-yellow-500 anton text-black px-4 py-2">
        Share App Link
      </button>
    </div>

    <hr class="my-6 border-gray-200" />

    <!-- footer payment details -->
    <div class="flex justify-between items-center flex-wrap gap-6">
      <div class="flex items-center gap-2">
        <h3 class="text-sm font-semibold m-0">Payment partners</h3>
        <img src="./assets/images/amazon-pay.png" class="w-8" alt="" />
        <img
          src="./assets/images/American-Express-Color.png"
          class="w-8"
          alt=""
        />
        <img src="./assets/images/paypal.png" class="w-8" alt="" />
        <img src="./assets/images/mastercard.webp" class="w-8" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="text-sm font-semibold m-0">
          Get Deliveries with SwiftBasket
        </h3>
        <img src="./assets/images/get-google-play.png" class="w-20" alt="" />
        <img src="./assets/images/get-apple-store.png" class="w-20" alt="" />
      </div>
    </div>
  </div>
</footer>
