<!--Enter email to verify -->

@if(step == 1) {
<div>
  <h1>Enter your email to verify</h1>
  <form [formGroup]="emailVerfiyGroup" (ngSubmit)="submitVerifyEmail()">
    <div>
      <label for="email">Email</label>
      <input formControlName="email" name="email" type="email" />
    </div>
    <button>Submit</button>
  </form>
</div>
} @else if(step == 2) {
<!--Enter otp to verify -->

<div>
  <form [formGroup]="OTPVerifyGroup" (ngSubmit)="submitVerifyOtp()">
    <div>
      <label for="otp">Enter Your OTP</label>
      <input formControlName="resetCode" type="text" name="otp" />
    </div>
    <button>Submit</button>
  </form>
</div>
} @else if(step == 3) {
<!--Enter new password to verify -->

<div>
  <form [formGroup]="newPasswordGroup" (ngSubmit)="submitNewPassowrd()">
    <div>
      <label for="email">Enter Your Email</label>
      <input [disabled]="true" formControlName="email" type="email" name="email" />
    </div>
    <div>
      <label for="newPassword">Enter New Pasword</label>
      <input formControlName="newPassword" type="password" name="newPassword" />
    </div>
    <button>Submit</button>
  </form>
</div>
}
