<div class="w-full bg-[#000000] text-white text-sm">
  <div class="w-[95%] mx-auto flex justify-between pt-4 pb-2">
    <section class="flex gap-6 items-center">
      <a routerLink="login">
        <h1
          class="text-2xl text-white anton tracking-wider flex items-center gap-4"
        >
          <i class="text-xl fa-solid fa-cart-shopping relative"></i>

          <p>Swift<span class="text-yellow-500"> Basket</span></p>
        </h1>
      </a>
    </section>
    <section class="flex items-center">
      <ul class="flex gap-3">
        <li>
          <a routerLink="/login" routerLinkActive="active-link"> Login </a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active-link"> Register </a>
        </li>
      </ul>
    </section>
  </div>
</div>
